<div class="col-xs-1" align="center">
    <div class="onboardingPage">
        <div class="heading">
            <img class="logo" src="/images/logo.png"/>
            <h1 class="header">Remembr</h1>
        </div>
        <div class="container-fluid">
            <div class="title" id="welcome">Welcome!</div>
            <div class="welcomeMessage">
                <h3>You are not logged in.</h3>
                <h3>Click on the button to log in or sign up.</h3>
            </div>
            <div class="onboardForm">
                <div class="loginButton"><a type="button" class="btn btn-outline-warning btn-lg btn-block" href="/memories">Let's Get Started</a></div>
            </div>
        </div>
    </div>
</div>
