<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" ype="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remembr</title>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <h1 class="header">Remembr</h1>
        </div>
        <div class="container">
            <h2>Memories</h2>
            <div class="showPeopleButton"><a type="button" class="btn btn-danger btn-lg" href="/memories/people">People</a></div>
            <div class="showPlacesButton"><a type="button" class="btn btn-danger btn-lg" href="/memories/places">Places</a></div>
            <div class="showOccassionsButton"><a type="button" class="btn btn-danger btn-lg" href="/memories/occassions">Occassions</a></div>
        </div>
    </div>
</body>
</html>