<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Remembr</title>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="introPage">
            <div class="heading">
            <%- include('../partials/title.ejs') %>
            <form class="homeButton" action="/memories/logout?_method=DELETE" method="POST">
                <div class="logoutButton"><input type="submit" type="button" class="btn btn-warning btn-lg" value="Logout"></div>
            </form>
            </div>
            <div class="container-fluid">
                <div class="introToRemembr">
                    <div class="title" id="introWelcome">Welcome!</div>
                    <div id="remembrExplanation">
                        <h3>At Remembr, we're working on creating a community for early-stage memory loss patients, senior caregivers, and medical professionals.</h3>
                        <h4>Remembr, many people are on the same journey. With fellow Remembr members, you can now anonymously discover and share networking opportunities, places to visit, and upcoming events. Continue to enter Remembr's first community: Los Angeles.</h4>
                        <a type="button" class="btn btn-success btn-lg btn-block" id="continueButton" href="/remembr">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>