<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Remembr</title>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="introPage">
            <div class="heading">
            <%- include('../partials/title.ejs') %>
            <div class="homeButton"><a type="button" class="btn btn-warning btn-lg" href="/logout">Log Out</a></div>
            </div>
            <div class="container-fluid">
                <div class="introToRemembr">
                    <div class="title" id="introWelcome">Welcome!</div>
                    <div id="remembrExplanation">
                        <h3>At Remembr, we're working on creating communities for early-stage memory loss patients, caregivers, and medical professionals.</h3>
                        <h4>Many people are on the same journey. You are not alone. With fellow Remembr members, you can now discover and share networking, places to visit, and upcoming events. Continue to enter Remembr's first community: Los Angeles.</h4>
                        <a type="button" class="btn btn-success btn-lg btn-block" id="continueButton" href="/remembr">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>