<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
  <title>New Person</title>
</head>
<body>
    <% if(currentUser) { %>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <%- include('../partials/title.ejs') %>
            <div class="backButton"><a type="button" class="btn btn-warning btn-lg" href="/memories/occassions">Return to Occassions</a></div>
        </div>
    <div class="container">
        <h3 class="instructions">Add A New Occassion</h3>
        <div class="bodySpaceToUse">
            <form action="/memories/occassions" method="POST">
                <div class="form-group">
                    <label for="occassionName">Occassion Name:</label>
                    <input type="text" class="form-control" name="occassionName" placeholder="e.g. Sydney's Birthday">
                </div>
                <div class="form-group">
                    <label for="occassionDate">Date:</label>
                    <input type="text" class="form-control" name="occassionDate" placeholder="e.g. November 12">
                </div>
                <div class="form-group">
                    <label for="occassionImportance">Location:</label>
                    <input type="text" class="form-control" name="occassionPlace" placeholder="e.g. 3rd Street Promenade, Santa Monica">
                </div>
                <div class="form-group">
                    <label for="occassionNotes">About Event:</label>
                    <input type="text" class="form-control" name="occassionNotes" placeholder="e.g. Remember to bring a cake">
                </div>
                <input class="btn btn-success btn-lg" id="submitNew" type="submit" name="" value="Add New Occassion">
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
  <% } else { %>
    <%- include('../partials/newsession.ejs') %>
  <% } %>
</body>
</html>