<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs') %>
  <title>New Person</title>
</head>
<body>
    <% if(currentUser) { %>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <%- include('../partials/title.ejs') %>
            <div class="backButton"><a type="button" class="btn btn-warning btn-lg" href="/memories/places">Return to Places</a></div>
        </div>
        <div class="container">
        <h3 class="instructions">Share A New Place</h3>
        <div class="bodySpaceToUse">
            <form action="/memories/places" method="POST">
                <div class="form-group">
                    <label for="placeName">Place Name:</label>
                    <input type="text" class="form-control" name="placeName" placeholder="e.g. LA Fitness">
                </div>
                <div class="form-group">
                    <label for="placeLocation">Location:</label>
                    <input type="text" class="form-control" name="placeLocation" placeholder="e.g. 15627 S La Cienega Blvd">
                </div>
                <div class="form-group">
                    <label for="placeActivity">Activity:</label>
                    <input type="text" class="form-control" name="placeActivity" placeholder="e.g. Gym">
                </div>
                <div class="form-group">
                    <label for="greatFor">The best thing about this place is:</label>
                    <input type="text" class="form-control" name="greatFor" placeholder="Enter one word">
                </div>
                <div class="form-group">
                    <label for="placeActivity">Notes:</label>
                    <input type="text" class="form-control" name="placeNotes" placeholder="e.g. The staff is lovely.">
                </div>
                <div class="form-group">
                    <label for="placeImg">Image:</label>
                    <input type="text" class="form-control" name="placeImg" placeholder="Image URL">
                </div>
                <input class="btn btn-success btn-lg" id="submitNew" type="submit" name="" value="Share New Place">
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
  <% } else { %>
    <%- include('../partials/newsession.ejs') %>
  <% } %>
</body>
</html>