<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs') %>
  <title>New Person</title>
</head>
<body>
    <% if(currentUser) { %>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <%- include('../partials/title.ejs') %>
            <div class="backButton"><a type="button" class="btn btn-warning btn-lg" href="/memories/people">Return to People</a></div>
        </div>
    <div class="container">
        <h3 class="instructions">Add A New Person</h3>
        <div class="bodySpaceToUse">
            <form action="/memories/people" method="POST">
                <div class="form-group">
                    <label for="personName">Person Name:</label>
                    <input type="text" class="form-control" name="personName" placeholder="e.g. Laura">
                </div>
                <div class="form-group">
                    <label for="personRelation">Relationship:</label>
                    <input type="text" class="form-control" name="personRelation" placeholder="e.g. Sister">
                </div>
                <div class="form-group">
                    <label for="personImg">Image:</label>
                    <input type="text" class="form-control" name="personImg" placeholder="Image URL">
                </div>
                <div class="form-group">
                    <label for="personBirthday">Birthday:</label>
                    <input type="text" class="form-control" name="personBirthday" placeholder="e.g. July 20">
                </div>
                <div class="form-group">
                    <label for="personNotes">Notes:</label>
                    <input type="text" class="form-control" name="personNotes" placeholder="e.g. Lives in San Francisco, CA">
                </div>
                <input class="btn btn-success btn-lg" id="submitNew" type="submit" name="" value="Add New Person">
            </form>
        </div>
    </div>
  </div>
  <% } else { %>
    <%- include('../partials/newsession.ejs') %>
  <% } %>
</body>
</html>