<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs') %>
  <title>New Person</title>
</head>
<body>
    <% if(currentUser) { %>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <img class="logo" src="/images/logo.png"/>
            <h1 class="header">Remembr</h1>
            <div class="backButton"><a type="button" class="btn btn-warning btn-lg" href="/memories/places">Return to Places</a></div>
        </div>
        <div class="container">
        <h3 class="instructions">Add A New Place</h3>
        <div class="bodySpaceToUse">
            <form action="/memories/places" method="POST">
                <div class="form-group">
                    <label for="placeName">Place Name:</label>
                    <input type="text" class="form-control" name="placeName" placeholder="e.g. LA Fitness">
                </div>
                <div class="form-group">
                    <label for="placeLocation">Location:</label>
                    <input type="text" class="form-control" name="placeLocation" placeholder="e.g. 15627 S La Cienega Blvd">
                </div>
                <div class="form-group">
                    <label for="placeActivity">Activity:</label>
                    <input type="text" class="form-control" name="placeActivity" placeholder="e.g. Gym">
                </div>
                <div class="form-group">
                    <label for="placeImg">Image:</label>
                    <input type="text" class="form-control" name="placeImg" placeholder="Image URL">
                </div>
                <input class="btn btn-success btn-lg" id="submitNew" type="submit" name="" value="Add New Place">
            </form>
        </div>
    </div>
  </div>
  <% } else { %>
    <h1>User must be logged in</h1>
  <% } %>
</body>
</html>