<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Places</title>
</head>
<body>
    <% if(currentUser) { %>
    <div class="col-xs-1" align="center">
        <div class="heading">
            <img class="logo" src="/images/logo.png"/>
            <h1 class="header">Remembr</h1>
            <div class="homeButton"><a type="button" class="btn btn-warning btn-lg" href="/home">Return to Home Page</a></div>
        </div>
        <div class="container-flex">
            <h2>Occassions</h2>
            <div class="newItemButton"><a type="button" class="btn btn-warning btn-lg btn-block" href="/memories/occassions/new">Add An Occassion</a></div>
            <div class="cardsContainer">
                    <% occassions.forEach(function(occassions) { %>
                        <div class="occassionsItem">
                            <div id="occassionName"><a href="/memories/occassions/<%=occassions.id%>"><%= occassions.occassionName %></a></div>
                            <div id="occassionDate"><%=occassions.occassionDate %></div>
                            <% if (occassions.occassionImportance == "High") { %>
                                <div id="highImportance"><p>High Importance</p></div>
                                <% } else if (occassions.occassionImportance == "Medium") { %>  
                                    <div id="mediumImportance"><p>Medium Importance</p></div>
                                <% } else { %>
                                    <div id="lowImportance"><p>Low Importance</p></div>  
                            <% } %>
                            <form class="deleteEvent" action="/memories/occassions/<%=occassions.id%>?_method=DELETE" method="POST">
                                <div class="occassionCompleteButton"><input type="submit" type="button" class="btn btn-success btn-lg" value="Completed"></div>
                            </form> 
                        </div>
                    <% }); %>
                </div>
        </div>
    </div>
    <% } else { %>
        <h1>User must be logged in</h1>
    <% } %>
</body>
</html>