<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Remembr</title>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="onboardingPage">
            <div class="heading">
            <%- include('../partials/title.ejs') %>
            </div>
            <div class="container-fluid">
                <div class="title" id="welcome">Welcome!</div>
                <div class="welcomeMessage">
                    <h3>We know the journey gets difficult...</h3>
                    <h3>That's why we are here to help.</h3>
                </div>
                <div class="onboardForm">
                    <h3>Let's get started!</h3>
                    <div class="loginButton"><a type="button" class="btn btn-warning btn-lg btn-block" href="/memories/login">Log In</a></div>
                    <div class="signupButton"><a type="button" class="btn btn-warning btn-lg btn-block" href="/memories/signup">Sign Up</a></div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>