<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Remembr</title>
</head>
<body>
    <div class="col-xs-1" align="center">
        <div class="onboardingPage">
            <div class="heading">
                <%- include('../partials/title.ejs') %>
            </div>
            <div class="container-fluid">
                <div class="title" id="welcome">Welcome!</div>
                <div class="welcomeMessage">
                    <h3>We know the journey can get difficult...</h3>
                    <h3>That's why we are here to help you.</h3>
                </div>
                <div class="onboardForm">
                    <div class="signUpMessage"><p>Sign Up</p></div>
                    <form class="signUpForm" action="/memories/login" method="POST">
                        <div class="wrongPasswordText"><p>The password entered is incorrect</p></div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" name="username" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" name="password" placeholder="">
                        </div>
                        <input class="btn btn-success btn-lg btn-block" id="enterSiteButton" type="submit" name="" value="Sign Up">
                    </form>
                    <div class="cancelButton"><a type="button" class="btn btn-danger btn-lg" id="enterSiteButton" href="/memories">Cancel</a></div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>