 @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.heading {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -4px rgb(135, 135, 135);
    background: linear-gradient(300deg, #8f94fb 0%, #4e54c8 100%);
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.646);
}

.logo {
    width: 87px;
    height: 65px;
    position: absolute;
    left: 30px;
    top: 15px
}

.logo {
    width: 87px;
    height: 65px;
    position: absolute;
    left: 30px;
    top: 15px
}

.signUpForm label {
    color: white;
    margin-top: 0px;
}

.signUpMessage{
    padding-bottom: 0px;
    color: white;
    font-size: 36px;
} 

#enterSiteButton {
    margin-top: 50px;
    width: 60%;
}

.signUpForm label {
    color: white;
    margin-top: 0px;
}

.wrongPasswordText {
    font-size: 22px;
    color: white;
    margin-top: 15px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.673);
    width: 80%;
    border-radius: 15px;
}

.wrongPasswordText p {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.onboardingPage {
    background-image: url(https://images.pexels.com/photos/2385569/pexels-photo-2385569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 1300px;
}

.onboardingPage .container-fluid {
    background: rgba(0, 0, 0, 0.701);
    padding-bottom: 30px;
    width: 70%;
    border-radius: 80px;
    max-width: 1055px;
} 

.introPage {
    background-image: url(https://images.pexels.com/photos/160767/women-friends-friendship-helping-together-160767.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 1300px;
}
.introToRemembr {
    background: rgba(255, 255, 255, 0.858);
    margin-top: 12%;
    width: 60%;
    height: auto;
    display: inline-block;
    border-radius: 40px;
    color: black;
    padding-bottom: 3%;
    box-shadow: 6px 5px 6px #b3b3b3eb;
}


#introWelcome {
    margin-top: 10px;
    padding-top: 15px;
    color: black;
}

#remembrExplanation {
    text-align: center;
    width: 80%;
}

#remembrExplanation h3 {
    margin-bottom: 5%;
    line-height: 60px;
}

#remembrExplanation h4 {
    margin-bottom: 4%;
    line-height: 50px;
}

#continueButton {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    display: inline-block;
    box-shadow: 6px 5px 6px #b3b3b3eb;
}



.title {
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    padding-top: 40px;
}
.welcomeMessage h3 {
    font-size: 40px;
    margin-top: 40px;
    color: white;
}

.welcomeMessage {
    padding-right: 15px;
    padding-left: 15px;
}
.onboardForm {
    width: 60%;
    margin-top: 60px;
    padding-bottom: 40px;
    border-radius: 40px;
}

.onboardForm h3 {
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 34px;
}

.loginButton {
    width: 60%;
    margin-bottom: 30px;
}

.signupButton {
    width: 60%;
    margin-top: 30px;
}

.header {
    padding-top: 20px;
    font-size: 48px;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
}

h2 {
    font-size: 52px;
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight: 600;
}

.linkToPage {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 600px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 40px;
    border-radius: 40px;
    opacity: 0.70;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
}

.linkToPage:hover {
    opacity: 1.0;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.linkImage {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 0 0 5px 2px #6d6d6d; /* mark the inset */
}

.imageLinkText {
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 10px 40px 5px 40px;
    border-radius: 20px;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.756);
    color: white;
}

.imageLinkText h3 {
    font-size: 46px;
}

.cardsContainer {
    width: 100%;
    height: auto;
}

.personItem {
    display: inline-block;
    width: 350px;
    height: 450px;
    margin: 35px 20px 35px 20px;
    border-width: 4px; 
    border-style: solid;
    border-color: #1d1b1b;
    border-radius: 25px;
    background: linear-gradient(300deg, #8f94fb 0%, #4e54c8 100%);
    box-shadow: 0 0 5px 2px #6d6d6d; /* mark the inset */
    opacity: 0.70;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;

}


.personItem:hover {
    opacity: 1.0;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.peoplePictureContainer {
    width: 274px;
    height: 274px;
    border-radius: 15%;
    margin-bottom: 11px;
}

.peoplePictureContainer .img-fluid {
    width: 100%;
    height: 100%;
    border-radius: 15%;
    border: 4px solid black;
}

.homeButton {
    position: absolute;
    top: 25px;
    right: 60px;
    box-shadow: 5px 5px 6px rgba(255, 255, 255, 0.541);
}

.newItemButton {
    display: block;
    margin-top: 30px;
    width: 40%;
    box-shadow: 6px 5px 6px #b3b3b3eb;
    margin-bottom: 15px;
}

.backButton {
    position: absolute;
    top: 25px;
    right: 60px;
    box-shadow: 5px 5px 6px rgba(255, 255, 255, 0.541);
}

#submitEdit {
    box-shadow: 6px 5px 6px #b3b3b3eb;
    margin-top: 30px;
}

#submitNew {
    margin-top: 30px;
    box-shadow: 6px 5px 6px #b3b3b3eb;
}

.form-group {
    font-size: 28px;
    margin-top: 28px;
}

.form-control {
    font-size: 22px;
    box-shadow: 6px 5px 6px #b3b3b343;
}

.bodySpaceToUse {
    width: 60%;
}

.instructions {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 38px;
}

.edit {
    margin-top: 30px;
    box-shadow: 6px 5px 6px #b3b3b3eb;
}

.delete {
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 6px 5px 6px #b3b3b3eb;
}

.personSelected, .placeSelected, .occassionSelected {
    width: 40%;
}

.personImage {
    height: 350px;
    width: auto;
    border-radius: 80px;
}

.personImage .img-fluid {
    height: 100%;
    width: auto;
    border-radius: 80px;
    border: 2px solid rgba(0, 0, 0, 0.769);
}

.category {
    font-size: 32px;
    font-weight: 600;
    margin-top: 40px;
}

.description {
    font-size: 24px;
    font-weight: 400;
}

.personRelation {
    font-size: 34px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.personName {
    font-size: 36px;
    margin-top: 10px;
    color: white
}

a {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.placesItem {
    display: inline-block;
    width: 350px;
    height: 450px;
    margin: 35px 20px 35px 20px;
    border-width: 4px; 
    border-style: solid;
    border-color: #1d1b1b;
    border-radius: 25px;
    background: linear-gradient(300deg, #8f94fb 0%, #4e54c8 100%);
    box-shadow: 0 0 5px 2px #6d6d6d; /* mark the inset */
    opacity: 0.70;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;

}


.placesItem:hover {
    opacity: 1.0;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.placeName {
    font-size: 36px;
    margin-top: 18px;
    color: white;
    margin-bottom: 5px;
}

.placeImage {
    width: 260px;
    height: 260px;
    border-radius: 15%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.placeImage .img-fluid {
    height: 100%;
    width: 100%;
    border-radius: 15%;
    border: 4px solid black;
}

.placeActivity {
    font-size: 34px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.itemImage {
    height: 350px;
    width: 350px;
    border-radius: 80px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 4px solid black;
}

.itemImage .img-fluid {
    height: 100%;
    width: auto;
    border-radius: 80px;  
}

.occassionsItem {
    display: inline-block;
    width: 350px;
    height: auto;
    margin: 35px 20px 35px 20px;
    border-width: 4px; 
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background: linear-gradient(300deg, #8f94fb 0%, #4e54c8 100%);
    box-shadow: 0 0 5px 2px #6d6d6d; /* mark the inset */
    opacity: 0.70;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;

}

.occassionsItem:hover {
    opacity: 1.0;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

#occassionName {
    font-size: 30px;
    margin-top: 18px;
    color: white;
    margin-bottom: 5px;
}

#occassionDate {
    font-size: 24px;
    color: white;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: bold;
}

.occassionsItem a {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.occassionsItem a:hover {
    color: white;
    text-decoration: underline;
}

.deleteEvent {
    margin-top: 20px;
    margin-bottom: 20px;
}

#highImportance {
    font-size: 22px;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: red;
    width: 80%;
    border-radius: 15px;
    
}

#highImportance p {
    padding-top: 7px;
    padding-bottom: 7px;
}

#mediumImportance {
    font-size: 22px;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: orange;
    width: 80%;
    border-radius: 15px;
}

#mediumImportance p {
    padding-top: 7px;
    padding-bottom: 7px;
}

#lowImportance {
    font-size: 22px;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: green;
    width: 80%;
    border-radius: 15px;
}

#lowImportance p {
    padding-top: 7px;
    padding-bottom: 7px;
}



footer {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    margin-top: 47vh;
    color: white;
    background: linear-gradient(300deg, #8f94fb 0%, #4e54c8 100%);
    font-size: 18px;
    box-shadow: 0 0 5px 2px #6d6d6d;
}

#log, #response {
    color: black;
}